* {
    background-color: black;
    font-family: 'Verdana', sans-serif;
  }

.title{
    color: white;
    font-size: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.header{
    color: white;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: right;
    text-indent: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header2{
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-indent: 300px;
}

.backbutton {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 12px;
    display: inline-block;
  }
  .editbutton {
    background-color: white;
    border-radius: 9px;
    padding: 14px 60px;
    font-size: 15px;
    margin: auto;
    display: flex;
  }

.switchButton{
    position: center;
    display:block;
    width: 35px;
    height: 20px;
}

.toggle{
    border-radius: 25px;
}