* {
  font-family: 'Lato', sans-serif;
}

:root {
  --rose_quartz: #ad9baa;
  --zomp: #65a48f;
  --caribbean_current: #216869;
  --persian_red: #bb4430;
  --berkeley_blue: #12355b;
  --orange_wheel: #ee8434;
  --some_purple: #94579E;
  --better_black: rgba(17, 17, 17, 0.82);

}

/* Page styling*/
.Start-Page {
  background-color: white;
}

.Sign-In-Page {
  background-color:var(--zomp);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

}

.Create-Account-Page {
  background-color:var(--zomp);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.Dashboard-Page {
  background-color: white;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.Settings-Page {
  background-color: white;
  position: relative;
  top: 50px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.Edit-Settings-Page {
  background-color: white;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.Single-Server-Page {
  position: relative;
  background-color: white;
  top: 50px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.Forgot-Password-Page {
  background-color: white;
  position: relative;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

/* Gradient text for start page */

.Gradient-Text {
  background-image: linear-gradient(60deg,var(--zomp), var(--some_purple));
  font-family: 'Lato', sans-serif;
  background-clip: text;
  font-weight: 800;
  color: transparent;
}

.text-for-single-server-header{
  color: var(--better_black);
  font-family: 'Lato', sans-serif;
  background-clip: text;
  font-weight: 800;

}

.div-for-single-address {
  max-width: fit-content;
  max-height: fit-content;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 1em;
  padding: 0.938em;
  border: none;
  border-radius: 4px;
  background-color:var(--zomp);
  color: #fefefe;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 12px;
  display: inline-block;
}

.white-div {
  max-height: fit-content;
  margin-left: 120px;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 1em;
  padding: 0.938em;
  border: none;
  background-color: white;
  color: var(--better_black);
  font-size: 16px;
  padding: 14px 40px;
  display: inline-block;
  cursor: default;
}

.white-div-for-single-server {
  border: none;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 0px 8px 16px;
}

.white-div-for-single-server-title {
  background-color: white;
  font-size: 16px;
  border-radius: 12px;
  display: inline-block;

}


/* Green to Grey button*/
button {
  margin-right: 0.25em;
  margin-top: 1em;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color:var(--zomp);
  color: #fefefe;
  font-size: 16px;
  padding: 14px 20px;
  border-radius: 12px;
  min-width: fit-content;
  display: inline-block;
  cursor: pointer;
}



.server-list-button{
  margin-right: 0.25em;
  margin-top: 1em;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background-color:var(--zomp);
  color: #fefefe;
  font-size: 16px;
  padding: 14px 20px;
  border-radius: 12px;
  min-width: 140px;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  background-color: #24272C;
  color: #fefefe;
}

button:disabled {
  opacity: 0.2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  padding: 0px 0px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: white;
  padding: 0px 0px;
}

.startbuttons {
  background-color: #ffffff;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 12px;
  width: 250px;
  display: inline-block;
}

.title {
  color: white;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.backbutton {
  color: #24272C;
  font-size: 20px;
  border-radius: 12px;
  display: inline-block;
}


.backbutton:hover {
  cursor: pointer;
}

.settingsbutton {
  color: white;
  font-size: 20px;
  padding: 14px 40px;
  border-radius: 12px;
  display: inline-block;
  float: right;
}

.settingsbutton:hover {
  cursor: pointer;
}


.forgotPass {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  user-select: none;
}

.forgotPass:hover {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: white;
  padding: 0px 0px;

}

.submitbutton {
  background-color: white;
  border-radius: 9px;
  padding: 14px 40px;
  font-size: 13px;
}

.error {
  color: red;
  font-size: 12px;
  text-align: center;
  padding: 0px 0px;
}

label {
  display: table-cell;
  text-align: center;
  font-size: 18px;
  padding: 0px 0px;
  color: white;
}

input {
  display: table-cell;
  background-color: white;
  font-size: 15px;
  padding: 2px 2px;
}

select {
  display: table-cell;
  background-color: white;
  font-size: 15px;
  padding: 2px 2px;
}

div.row {
  display: table-row;
  border-collapse: collapse;
}

.center {
  margin: auto;
  width: 50%;
}


/* Styling for NavBar, MenuItems, and Dropdown */

.side-menu {
  height: 100%;
  width: 140px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  top: 50px;
  left: 0;
  background-color:var(--zomp);
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  cursor: default;
}

.server-list {
  list-style: none;
  color: white;
  margin: 0px;
  padding: 6px 8px 6px 22px;
  display: block;
}

.server-list-header-sp {
  list-style: none;
  color: white;
  margin: 0px;
  padding: 6px 8px 6px 38px;
  display: block;
  cursor: pointer;
}

.server-list-header-sp:hover {
  color: #24272C;
}

.server-list-header-client {
  list-style: none;
  color: white;
  margin: 0px;
  padding: 6px 8px 6px 34px;
  display: block;
  cursor: pointer;
}

.server-list-header-client:hover {
  color: #24272C;
}

.server-in-list:hover {
  text-decoration: underline;
  color: #24272C;
  cursor: pointer;
}

.accordion {
  background-color: var(--zomp);
  color: var(--zomp);
  border-radius: none;
  padding: 0px;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}

.nav-area {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color:var(--zomp);
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 70px;
  left: -21px;
}

.menus {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color:var(--zomp);
  color: white;
  margin: 0px;
  
}

.menu-items {
  position: relative;
  font-size: 20px;
  padding-right: 44px;

}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.menu-items>a,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  /*text-decoration: underline;*/
  color: #24272C;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: auto;
  left: 0;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

/* Stuff below is for forms */


.Form-Body {
  font-family: Lato;
  height: 97vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px 40px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px;
  background-color: white;
}

.div-for-addresses {

  background-color: white;
  max-width: 650px;
  max-height: 300px;
  position: relative;
  left: 20px;
  border-radius: 6px;
  box-shadow: 0px 8px 24px;
  padding: 10px;
  overflow-y: scroll;
}

.div-for-graphs {
  margin: 0 auto;
  background-color: white;
  max-width: 1400px;
  max-height: fit-content;
  border-radius: 6px;
  box-shadow: 0px 8px 24px;
  overflow-y: scroll;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}


.div-for-admin-services {

  background-color: white;
  max-width: fit-content;
  max-height: fit-content;
  position: relative;
  left: 20px;
  border-radius: 6px;
  box-shadow: 0px 8px 24px;
  padding: 10px;
}

form>h1 {
  display: flex;
  justify-content: center;
  font-family: Lato, sans-serif;
  font-size: 2em;
  margin-top: 0.25em;
  color: #24272C;
  letter-spacing: 2px;
}

form>div {
  margin: 0.5em 0;
}

.info {
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

label {
  color: #444;
  font-weight: lighter;
}

input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form>.invalid {
  border: 1px solid #db2269;
  box-shadow: none;
}

input[type="checkbox"].invalid {
  box-shadow: 0px 0px 0px 1px #db2269;
}

input,
select {
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #d6d1d5;
  display: block;
}

form>select {
  width: 100%;
  height: 35px;
}

form>input[type="checkbox"] {
  margin-right: 0.4em;
  margin-top: 0.2em;
}

form>.required {
  color: #db2269;
  font-size: 0.8em;
  margin-top: 0.5em;
}

form>.k-textbox-container,
.k-floating-label-container {
  width: 100%;
}

.active-navbar-item {
  font-weight: bold;
}

/* CSS for Settings and Edit-Settings pages*/
.header {
  color: white;
  font-size: 25px;
  display: flex;
  flex-direction: column;
  /*align-items: right;*/
  justify-content: right;
  text-indent: 350px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header2 {
  color: white;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  /*align-items: left;*/
  justify-content: left;
  text-indent: 450px;
}

.editbutton {
  min-width: 0%;
  cursor: pointer;
  margin-right: .25em;
  margin-top: 1em;
  padding: 0.938em;
  border: none;
  border-radius: 4px;
  background-color:var(--zomp);
  color: #fefefe;
  border-radius: 24px;
  width: 250px;
  text-align: center;
  padding: 14px 60px;
  font-size: 15px;
  margin: auto;
  display: flex;

}

.editbutton:hover {
  background-color: #24272C;
  color: #fefefe;
}

.editbutton:disabled {
  opacity: 0.2;
}

.addServer {
  background-color: white;
  /* Green */
  border: none;
  color: var(--better_black);
}

/* CSS for user table*/
.userTable {
  justify-content: center;
  align-items: center;
  background-color: white;
  position: relative;
  left: 20px;
  border-radius: 6px;
  box-shadow: 0px 8px 24px;
  padding: 10px;
}

.userTableAdmin {
  background-color: white;
  position: relative;
  margin-top: 75px;
  margin-left: 90px;
  border-radius: 6px;
  box-shadow: 0px 8px 24px;
  height: 500px;
}

table {
  height: 250px;
  width: fit-content;
  overflow-y: scroll;
  display: block;
}

th {
  border-bottom: 1px solid var(--better_black);
}

td {
  text-align: center;
}

.userRow:hover {
  background-color: #53575f;
  color: #fefefe;
  cursor: pointer;
}

caption {
  display: flex;
  justify-content: center;
  font-family: Lato, sans-serif;
  font-size: 30px;
  color: #24272C;
  font-weight: bold;
}

.serverList {
  height: 100px;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--better_black);
  cursor: default;
  font-size: smaller;
  width: 150px;
}

.addServerButton {
  min-width: 0%;
  cursor: pointer;
  width: 110px;
  border: none;
  border-radius: 4px;
  background-color: #484a46;
  color: #fefefe;
  border-radius: 12px;
  text-align: center;
  padding: 10px 20px;
  font-size: 12px;
  margin: auto;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.background-side-by-side-parent {
  max-height: fit-content;
  padding: 20px 10px;
  text-align: center;
}

.background-side-by-side-first-child {
  display: inline-block;
  vertical-align: middle;
  max-width: 900px;
  max-height: 300px;
  position: relative;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 8px 24px;
  padding: 10px;
  overflow-y: scroll;
  margin-right: 20px;
}

.background-side-by-side-child {
  display: inline-block;
  vertical-align: middle;
  max-width: 900px;
  max-height: 300px;
  background-color: white;
  position: relative;
  border-radius: 6px;
  box-shadow: 0px 8px 24px;
  padding: 10px;
  overflow-y: scroll;
}

.background-side-by-side-single-first-child {
  display: inline-block;
  vertical-align: middle;
  width: 900px;
  max-height: 300px;
  position: relative;
  border-radius: 6px;
  background-color: white;
  box-shadow: 0px 8px 24px;
  padding: 10px;
  overflow-y: scroll;
}

caption:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Style the button that is used to open and close the collapsible content */
.Collapsible {
  cursor: pointer;
  padding: 30px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 90%;
  border: none;
  text-align: center;
  outline: none;
  background-color: lightgray;
  color: var(--better_black);
  font-size: 20px;
  font-weight: bold;
  border-radius: 12px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.Collapsible:hover {
  background-color: whitesmoke;
}

.content {
  padding: 0 18px;
  background-color: white;
  color: var(--better_black);
}

.div-for-collapsible{
  background-color: white;
  width: 100%;
  height: fit-content;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 8px 16px;
}
