* {
  font-family: 'Lato', sans-serif;
}

/* Page styling*/
.Start-Page {
  background-color: #f8f8ff;

}

.Sign-In-Page{
  background-color: #619E57;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;

}

.Create-Account-Page{
  background-color: #619E57;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.Dashboard-Page{
  background-color: #619E57;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.Settings-Page{
  background-color: #619E57;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.Single-Server-Page{
  background-color: #619E57;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

.Forgot-Password-Page{
  background-color: #619E57;
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
}

/* Gradient text for start page */

.Gradient-Text{
  background-image: linear-gradient(60deg, #619E57, #94579E);
  font-family: 'Lato', sans-serif;
  background-clip: text;
  font-weight: 800;
  color: transparent;
}

/* Green to Grey button*/
button {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 1em;
  padding: 	0.938em;
  border: none;
  border-radius: 4px;
  background-color: #619E57;
  color: #fefefe;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 12px;
  width: 250px;
  display: inline-block;
}
button:hover {
  background-color: #24272C;
  color: #fefefe;
}
button:disabled {
  opacity: 0.2;
}

.App {
  text-align: center;
}

.App-logo {
  height: 25vmin;
  padding: 0px 0px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: white;
  padding: 0px 0px;
}

.startbuttons {
  background-color: #ffffff;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 12px;
  width: 250px;
  display: inline-block;
}

.title {
  color: white;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.backbutton {
  color: #24272C;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 12px;
  display: inline-block;
}


.backbutton:hover {
  cursor: pointer;
}

.forgotPass {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
  user-select: none;
}
.forgotPass:hover {
  cursor: pointer;
 }

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  color: white;
  padding: 0px 0px;
 
}

.submitbutton {
  background-color: white;
  border-radius: 9px;
  padding: 14px 40px;
  font-size: 13px;
}

.error {
  color: red;
  font-size: 12px;
  display: table-cell;
  text-align: center;
  padding: 0px 0px;
}

label {
  display: table-cell;
  text-align: center;
  font-size: 18px;
  padding: 0px 0px;
  color: white;
}

input {
  display: table-cell;
  background-color: white;
  font-size: 15px;
  padding: 2px 2px;
}

select {
  display: table-cell;
  background-color: white;
  font-size: 15px;
  padding: 2px 2px;
}

div.row {
  display: table-row;
  border-collapse: collapse;
}

.center {
  margin: auto;
  width: 50%;
}

header {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.07), 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  color: #212529;
}

.nav-area {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 10px 0px;
  background-color: white;
  z-index: 10;
}

.menus {
  display: flex;
  align-items: left;
  flex-wrap: wrap;
  list-style: none;
  background-color: white;
  margin: 0px;
}

.menu-item {
  padding-right: 20px;
}

.menu-items {
  position: relative;
  font-size: 20px;
  background-color: white;
  padding-right: 24px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  background-color: white;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.menu-items > a, .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  text-decoration: underline;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: auto;
  left: 0;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

/* Stuff below is for forms */


.Form-Body{
  font-family: Lato;
  height: 97vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #619E57;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px 40px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px ;
  background-color: #fefefe;
}

form > h1 {
  display: flex;
  justify-content: center;
  font-family: Lato, sans-serif;
  font-size: 2em;
  margin-top: 0.25em;
  color: #24272C;
  letter-spacing: 2px;
}

form > div {
  margin: 0.5em 0;
}

.info {
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

label {
  color: #444;
  font-weight: lighter;
}

input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
form > .invalid {
  border: 1px solid #db2269;
  box-shadow: none;
}
input[type="checkbox"].invalid {
  box-shadow: 0px 0px 0px 1px #db2269;
}
input, select {
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #d6d1d5;
  display: block;
}
form > select {
  width: 100%;
  height: 35px;
}
form > input[type="checkbox"] {
  margin-right: 0.4em;
  margin-top: 0.2em;
}

form > .required {
  color:#db2269;
  font-size: 0.8em;
  margin-top: 0.5em;
}

form > .k-textbox-container, .k-floating-label-container {
  width: 100%;
}

button {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 1em;
  padding: 	0.938em;
  border: none;
  border-radius: 4px;
  background-color: #619E57;
  color: #fefefe;
  font-size: 16px;
  padding: 14px 40px;
  border-radius: 12px;
  width: 250px;
  display: inline-block;
}
button:hover {
  background-color: #24272C;
  color: #fefefe;
}
button:disabled {
  opacity: 0.2;
}
