* {
    background-color: black;
    font-family: 'Quicksand', sans-serif;
}

.title {
    color: white;
    font-size: 40px;
    justify-content: center;
    padding: 0px 0px;
    display: inline-flexbox;
    font-weight: normal;
}


.backbutton {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 12px;
    display: inline-block;
}


.form {
    background-color: black;
    display: flex;
    color: white;
    padding: 0px 0px;
   
}


label {
    display: table-cell;
    text-align: center;
    font-size: 18px;
    padding: 0px 0px;
}

input {
    display: table-cell;
    background-color: white;
    font-size: 15px;
    padding: 2px 2px;
    color: black;
}

select {
    display: table-cell;
    background-color: white;
    font-size: 15px;
    padding: 2px 2px;
    color: black;
}

div.row {
    display: table-row;
    border-collapse: collapse
}

.submitbutton {
    background-color: white;
    border-radius: 9px;
    padding: 14px 40px;
    font-size: 13px;
}

.error {
    color: red;
    font-size: 12px;
    display: table-cell;
    text-align: center;
    padding: 0px 0px;
}