* {
    background-color: black;
    font-family: 'Verdana', sans-serif;
  }

.title{
    color: white;
    font-size: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3px;
    margin-bottom: 3px;
}

.eheader{
    color: white;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-indent: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.eheader2{
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-indent: 100px;
}

.backbutton {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 12px;
    display: inline-block;
  }
.submitbutton {
    background-color: white;
    border-radius: 9px;
    padding: 14px 60px;
    font-size: 15px;
    margin: auto;
    display: flex;
  }
.backbutton {
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 14px 40px;
    border-radius: 12px;
    display: inline-block;
  }

.form {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    color: white;
    padding: 0px 0px;
  }


